.DS_Store
.env
.env.local
__pycache__

wdss_data.csv
periods.csv
autopilot.py
preload/stars_periods.csv

preload/.DS_Store
preload/doppler_plots/.DS_Store
preload/eclipsing_plots/.DS_Store
preload/flare_plots/.DS_Store
preload/period_plots/.DS_Store

preload/doppler_plots
preload/eclipsing_plots
preload/flare_plots
preload/period_plots